<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">


      <div *ngIf="withoutSeguros">
          <p>Desculpa, não há seguros disponíveis para esta configuração.</p>
      </div>

      <div class="" *ngIf="seguros">


		  <div *ngIf="seguros">
			  <div class="tp-wrapper" *ngFor="let seguro of seguros; let i = index" [attr.data-index]="i"
                                        (click)="buy(seguro)">

					  <!-- Plane ticket front -->
					  <a class="ticket insurance-ticket">
						  <div>

							  <div class="absolute-pos">
								  <span id="insurance-ticket-name">
									  {{ seguro.nome }} </span>
							  </div>

							  <div class="absolute-pos">
								  <span id="insurance-ticket-description">
									  {{ seguro.descricao }} </span>
							  </div>

							  <div class="absolute-pos">
								  <span id="insurance-ticket-value-text" jhiTranslate="choose-insurance.value">Valor por pessoa:</span>
							  </div>

							  <div class="absolute-pos">
								  <span id="insurance-ticket-value"> R$ {{ seguro.valorPorPessoa | number:'1.2' }}</span>
							  </div>

							  <div class="absolute-pos">
								  <span id="insurance-ticket-total">
								  	  Total: R$ {{ seguro.valorPorPessoa * diffDays * passengers | number:'1.2' }}
							  	  </span>
							  </div>

							  <div class="absolute-pos">
								  <div id="insurance-ticket-seller">
									  <span jhiTranslate="choose-insurance.seller">Oferecido por</span>
									  <span> {{ seguro.seguradora.nome }} </span>
								  </div>
							  </div>

						  </div>
					  </a>

			  </div>
		  </div>

		</div>

	</div>
</div>
