/* choose-insurance.css */

.insurance-ticket {
    background-image: url('../../content/images/insurance-card.png');
}


.insurance-ticket #insurance-ticket-name {
    left: -126px;
    top: 22px;
	font-size: 23pt;
}

.insurance-ticket #insurance-ticket-description {
    position: absolute;
    left: 115px;
    top: 103px;
	  width: 331px;
	  line-height: 25px;
  	text-align: left;
    white-space: normal;
    word-break: break-word;
}

.insurance-ticket #insurance-ticket-value-text {
    left: 225px;
    top: 19px;
}

.insurance-ticket #insurance-ticket-value {
	color: #E10000;
	font-size: 26pt;
    left: 221px;
    top: 19px;
}

.insurance-ticket #insurance-ticket-total {
	font-size: 13pt;
    left: 220px;
    top: 19px;
}

.insurance-ticket #insurance-ticket-seller {
	color: #E10000;
	position: relative;
    left: -126px;
    top: -98px;
	transform: scale(0.70);
    -moz-transform: scale(0.70);
}
