<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
    <h1 class="text-capitalize text-center h1-pages" jhiTranslate="choose-vehicle.title">Title</h1>
    <hr class="h1-hr" />
    <p class="text-justify">{{ veiculos | json }}</p>
  </div>
    <!-- Botão de voltar -->
    <div class="our-button">
        <input type="submit" class="btn btn-outline-warning btn-block"
               value="{{ 'choose-plane.buttons.back' | translate }}" (click)="back()" />
    </div>
</div>
