<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

		<!-- Box contendo os tickets -->
    	<div class="ticket-box">


        <div *ngIf="withoutVeiculos">
            <span jhiTranslate="global.sorry.start"></span>
			<span jhiTranslate="global.sorry.vehicle">Sem nada disponivel.</span>
			<span jhiTranslate="global.sorry.end"></span>
        </div>

        <div class="" *ngIf="veiculos">


            <div *ngIf="veiculos">
                <div class="tp-wrapper" *ngFor="let veiculo of veiculos; let i = index" [attr.data-index]="i"
                     (click)="rent(veiculo)">

                    <!-- Plane ticket front -->
                    <a class="ticket vehicle-ticket">
                        <div>

                            <div class="absolute-pos">
								  <span id="vehicle-ticket-name">
									  {{ veiculo.fabricante }} {{ veiculo.modelo }} </span>
                            </div>

                            <div class="absolute-pos">
                                <div id="vehicle-ticket-seller">
                                    <span id="vehicle-ticket-seller-text" jhiTranslate="choose-vehicle.seller">Oferecido por</span>
                                    <span> {{ veiculo.locadora.nome }} </span>
                                </div>
                            </div>

                            <div class="absolute-pos">
                                <div id="vehicle-ticket-value">
                                    <span>R$ {{ veiculo.valor | number:'1.2' }}</span>
                                    <span id="vehicle-ticket-value-text" jhiTranslate="choose-vehicle.value">por dia</span>
                                </div>
                            </div>

                            <div class="absolute-pos">
                                <div id="vehicle-ticket-total">
                                    <span>Total: R$ {{ veiculo.valor * diffDays | number:'1.2' }}</span>
                                </div>
                            </div>

                            <div class="absolute-pos">
                                <div id="vehicle-ticket-photo">
                                    <img [src]='"../../content/images/" + veiculo.imagem'></img>
                                </div>
                            </div>

                            <div class="absolute-pos">
                                <div id="vehicle-ticket-frame">
                                    <img src="../../content/images/frame.png"></img>
                                </div>
                            </div>

                            <div class="absolute-pos">
                                <span id="vehicle-ticket-passengers">{{ veiculo.numPassageiros }}</span>
                            </div>

                        </div>
                    </a>

                </div>
            </div>

			</div>

        </div>

    </div>
</div>
