<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">


      <div *ngIf="withoutVeiculos">
          <p>Desculpa, não há veiculos disponíveis para esta configuração.</p>
      </div>

      <div class="" *ngIf="veiculos">


		  <div *ngIf="veiculos">
			  <div class="tp-wrapper" *ngFor="let veiculo of veiculos; let i = index" [attr.data-index]="i"
                                        (click)="buy(veiculo)">

					  <!-- Plane ticket front -->
					  <a class="ticket vehicle-ticket">
						  <div>

							  <div class="absolute-pos">
								  <span id="vehicle-ticket-name">
									  {{ veiculo.modelo }} </span>
							  </div>

							  <div class="absolute-pos">
								  <span id="vehicle-ticket-description">
									  Fabricante {{ veiculo.fabricante }} </span>
							  </div>

<!--
							  <div class="absolute-pos">
								  <span id="vehicle-ticket-value-text" jhiTranslate="choose-vehicle.value">Valor por pessoa:</span>
							  </div>

							  <div class="absolute-pos">
								  <span id="vehicle-ticket-value"> R$ {{ veiculo. | number:'1.2' }}</span>
							  </div>

							  <div class="absolute-pos">
								  <span id="vehicle-ticket-total">
								  	  Total: R$ {{ veiculo.valorPorPessoa * diffDays * passengers | number:'1.2' }}
							  	  </span>
							  </div>
-->

							  <div class="absolute-pos">
								  <div id="vehicle-ticket-seller">
									  <span jhiTranslate="choose-vehicle.seller">Oferecido por</span>
									  <span> {{ veiculo.locadora.nome }} </span>
								  </div>
							  </div>

						  </div>
					  </a>

			  </div>
		  </div>

		</div>

	</div>
</div>
