<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

	  <!-- Box contendo os tickets -->
  	<div class="ticket-box">

  		<!-- Passagem aérea -->
  		<div *ngIf="withoutVoos">
  			<p>Desculpa, não há passagens disponíveis.</p>
  		</div>

  		<div *ngIf="quartos.length > 0">
  			<div class="tp-wrapper" *ngFor="let quarto of quartos; let i = index" [attr.data-index]="i">

  					<!-- Plane ticket front -->
  					<a class="ticket hotel-ticket">
  						<div>

  							<div class="absolute-pos">
  								<span id="hotel-ticket-name">
  									{{ quarto.hotel.nome }} </span>
  							</div>

							<div class="absolute-pos">
  								<span id="hotel-ticket-description">
  									{{ quarto.descricao }} </span>
  							</div>

							<div class="absolute-pos">
  								<span id="hotel-ticket-rate"> <span jhiTranslate="global.ticket.hotel.rate">Daily Rate</span>: R$ {{ quarto.diaria }} </span>
  							</div>


  						</div>
  					</a>

  			</div>
  		</div>



  	</div>

  </div>
  <div class="col-md-1"></div>
</div>
