<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="seguradora">
            <h2><span jhiTranslate="viajatoApp.seguradora.detail.title">Seguradora</span> {{seguradora.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="viajatoApp.seguradora.nome">Nome</span></dt>
                <dd>
                    <span>{{seguradora.nome}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.seguradora.telefone">Telefone</span></dt>
                <dd>
                    <span>{{seguradora.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.seguradora.cidade">Cidade</span></dt>
                <dd>
                    <span>{{seguradora.cidade}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.seguradora.estado">Estado</span></dt>
                <dd>
                    <span>{{seguradora.estado}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.seguradora.endereco">Endereco</span></dt>
                <dd>
                    <span>{{seguradora.endereco}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/seguradora', seguradora.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
