<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">

		<!-- Título da página e descrição -->
		<div class="title-wrapper">
			<div *ngIf="viewWindow == 1">
				<h1 class="text-capitalize text-center h1-pages" jhiTranslate="choose-plane.title">Title</h1>
				<h5 class="text-center" jhiTranslate="choose-plane.subtitle">Subtitle</h5>
			</div>

			<div *ngIf="viewWindow == 2">
				<h1 class="text-capitalize text-center h1-pages" jhiTranslate="choose-hotel.title">Title</h1>
				<h5 class="text-center" jhiTranslate="choose-hotel.subtitle">Subtitle</h5>
			</div>

			<div *ngIf="viewWindow == 3">
				<h1 class="text-capitalize text-center h1-pages" jhiTranslate="choose-insurance.title">Title</h1>
				<h5 class="text-center" jhiTranslate="choose-insurance.subtitle">Subtitle</h5>
			</div>

            <div *ngIf="viewWindow == 4">
                <h1 class="text-capitalize text-center h1-pages" jhiTranslate="choose-vehicle.title">Title</h1>
                <h5 class="text-center" jhiTranslate="choose-vehicle.subtitle">Subtitle</h5>
            </div>

            <div *ngIf="viewWindow == 5">
                <h1 class="text-capitalize text-center h1-pages" jhiTranslate="payment.title">Title</h1>
                <h5 class="text-center" jhiTranslate="payment.subtitle">Subtitle</h5>
            </div>
		</div>

		<hr class="h1-hr"/>

		<!-- Menu com as 4 opcoes + ícone do carrinho -->
		<div class="product-selection">
			<hr class="product-hr"/>
			<a (click)="toggleWindow(1)" class="product-icon" id="plane-icon"></a>
			<a (click)="toggleWindow(2)" class="product-icon" id="hotel-icon"></a>
			<a (click)="toggleWindow(3)" class="product-icon" id="insurance-icon"></a>
			<a (click)="toggleWindow(4)" class="product-icon" id="car-icon"></a>
			<a (click)="toggleWindow(5)" class="product-icon" id="checkout-icon"></a>
		</div>

		<!-- Box contendo os tickets (passagem aerea, hotel, etc...) -->
		<div class="component-window">

			<!-- Passagem aérea -->
			<div *ngIf="viewWindow == 1">
				<jhi-choose-plane></jhi-choose-plane>
			</div>


			<!-- Hotel -->
			<a  *ngIf="viewWindow == 2">
				<jhi-choose-hotel></jhi-choose-hotel>
			</a>


            <!-- Veiculo -->
            <a *ngIf="viewWindow == 3">
                <jhi-choose-insurance></jhi-choose-insurance>
            </a>


            <!-- Seguro -->
            <a *ngIf="viewWindow == 4" (click)="goTo('choose-insurance')">
                Veículo
            </a>


            <!-- Pagamento -->
            <a *ngIf="viewWindow == 5" (click)="goTo('choose-insurance')">
                <jhi-payment></jhi-payment>
            </a>

        </div>


		<!-- Confirmation window, only display if a seat has been selected -->
		<!--
		<div *ngIf="jhi-choose-plane.seatsSelected.length > 0">
			<div class="confirmation-window">
				<span id="confirmation-window-title" jhiTranslate="global.confirmation-window.title">Title</span>


				<div id="confirmation-window-item-wrapper" *ngFor="let seat of jhi-choose-plane.seatsSelected">
					<span id="confirmation-window-item">
						<span jhiTranslate="global.ticket.plane.flight">Flight</span>
						{{ seat.flight }}:
					</span>
					<div id="seat-confirmation">
						<span>{{ seat.name }}</span>
					</div>
				</div>


				<div class="our-button confirm-button">
					<input type="submit" class="btn btn-outline-warning btn-block" value="{{ 'global.confirmation-window.button' | translate }}" />
				</div>
			</div>
		</div>-->


	</div>
	<div class="col-md-1"></div>
</div>
