<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">

		<!-- Título da página e descrição -->
		<h6 class="text-right">{{message}}</h6>
		<h1 class="text-capitalize text-center" jhiTranslate="basket.title">Title</h1>
		<h5 class="text-center" jhiTranslate="basket.subtitle">Subtitle</h5>
		<hr/>

		<!-- Box contendo os tickets -->
		<div class="ticket-box">

			<!-- Passagem aérea -->
			<a class="ticket plane-ticket">
				<span id="plane-ticket-text1" jhiTranslate="basket.plane.text1">Passagem Aérea</span>
			</a>

			<!-- Hotel -->
			<a class="ticket hotel-ticket">
				<span id="hotel-ticket-text1" jhiTranslate="basket.hotel.text1">Hotel</span>
			</a>

			<!-- Botão de compra -->
			<div class="buy-button">
				<input type="submit"  class="btn btn-outline-warning btn-block" value="{{ 'basket.purchase' | translate }}"/>
			</div>

		</div>

	</div>
	<div class="col-md-1"></div>
</div>
