/* basket.css */

.component-window {
    margin-top: -10px;
    min-height: 650px;
}

.product-selection {
    position: relative;
    left: 7px;
    display: inline-block;
    margin: 0 auto;
    height: 170px;
}

.product-icon {
    margin-top: 35px;
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(20%);
}

.brightness {
    filter: brightness(115%);
}

.product-icon:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(249, 224, 153, 1));
    filter: drop-shadow(0px 0px 10px rgba(249, 224, 153, 1));
}

.product-hr {
    position: absolute;
    width: 600px;
    height: 20px;
    left: -400px;
    top: 70px;
    border: 0;
    border-top: 2px solid #f9e098;
}

#plane-icon {
    background-image: url('../../content/images/plane-icon.png');
    left: -450px;
}

#hotel-icon {
    background-image: url('../../content/images/hotel-icon.png');
    left: -250px;
}

#insurance-icon {
    background-image: url('../../content/images/insurance-icon.png');
    left: -50px;
}

#car-icon {
    background-image: url('../../content/images/car-icon.png');
    left: 150px;
}

#checkout-icon {
    background-image: url('../../content/images/checkout-icon.png');
    left: 350px;
}

.fadeIn,
.fadeIn-2,
.fadeIn-3,
.fadeIn-4 {
    -webkit-animation: 1s fadeIn backwards;
    -o-animation: 1s fadeIn backwards;
    animation: 1s fadeIn backwards;
}

.fadeIn {
    animation-delay: 0.5s;
}

.fadeIn-2 {
    animation-delay: 1s;
}

.fadeIn-3 {
    animation-delay: 1.5s;
}

.fadeIn-4 {
    animation-delay: 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
