 <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">


        <!-- Seção de passagens adquiridas -->
        <div *ngIf="passagens.length > 0" class="passagens">

			<!-- Titulo da seção: -->
			<div class="payment-header-wrapper">
				<span class="payment-header" jhiTranslate="choose-plane.title">Passagens Aéreas</span>
			</div>

			<!-- Tabela: -->
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" jhiTranslate="global.payment.passagem.voo">Voo</th>
                    <th scope="col" jhiTranslate="global.payment.passagem.assento">Assento</th>
                    <th scope="col" jhiTranslate="global.payment.passagem.origem">Origem</th>
                    <th scope="col" jhiTranslate="global.payment.passagem.destino">Destino</th>
                    <th scope="col" jhiTranslate="global.payment.passagem.partida">Partida</th>
                    <th scope="col" jhiTranslate="global.payment.passagem.chegada">Chegada</th>
                    <th scope="col" jhiTranslate="global.payment.passagem.valor">Valor</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let passagem of passagens">
                    <td>{{ passagem.voo.linhaAerea.nome }} <span jhiTranslate="global.ticket.plane.flight"></span> {{ passagem.voo.numero }}</td>
                    <td>{{ passagem.assento }}</td>
                    <td>{{ passagem.voo.origem.nome }}</td>
                    <td>{{ passagem.voo.destino.nome }}</td>
                    <td>{{ passagem.voo.partida }}</td>
                    <td>{{ passagem.voo.chegada }}</td>
                    <td>R$ {{ passagem.voo.valor | number:'1.2' }}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- Seção com as reservas adquiridas -->
        <div *ngIf="reservas.length > 0" class="reservas">

			<!-- Titulo da seção: -->
			<div class="payment-header-wrapper">
				<span class="payment-header" jhiTranslate="choose-hotel.title">Acomodações</span>
			</div>

			<!-- Tabela: -->
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" jhiTranslate="global.payment.reserva.acomodacao">Hospedagem</th>
                    <th scope="col" jhiTranslate="global.payment.reserva.numPessoas">Nº de pessoas</th>
                    <th scope="col" jhiTranslate="global.payment.reserva.checkin">Check in</th>
                    <th scope="col" jhiTranslate="global.payment.reserva.checkout">Check out</th>
                    <th scope="col" jhiTranslate="global.payment.reserva.valor">Preço</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let reserva of reservas">
                    <td>{{ reserva.quarto.hotel.nome }}</td>
                    <td>{{ reserva.numPessoas }}</td>
                    <td>{{ reserva.dataInicio }}</td>
                    <td>{{ reserva.dataFim }}</td>
                    <td>R$ {{ reserva.valor | number:'1.2' }}</td>
                </tr>
                </tbody>
            </table>
        </div>



        <!-- Seção com os seguros adquiridos -->
        <div *ngIf="contratos.length > 0" class="seguros">

			<!-- Titutlo da seção -->
			<div class="payment-header-wrapper">
				<span class="payment-header" jhiTranslate="choose-insurance.title">Seguros de Viagem</span>
			</div>

			<!-- Tabela -->
			<table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" jhiTranslate="global.payment.contrato.seguro">Seguro</th>
                    <th scope="col" jhiTranslate="global.payment.contrato.numPessoas">Nº de pessoas</th>
                    <th scope="col" jhiTranslate="global.payment.contrato.inicio">Início</th>
                    <th scope="col" jhiTranslate="global.payment.contrato.fim">Fim</th>
                    <th scope="col" jhiTranslate="global.payment.contrato.valor">Preço</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let contrato of contratos">
                    <td>{{ contrato.seguro.nome }}</td>
                    <td>{{ contrato.numPessoas }}</td>
                    <td>{{ contrato.dataInicio.split(" ")[0] }}</td>
                    <td>{{ contrato.dataFim.split(" ")[0] }}</td>
                    <td>R$ {{ contrato.seguro.valorPorPessoa * contrato.numPessoas | number:'1.2' }}</td>
				</tr>
                </tbody>
            </table>
        </div>


		<!-- Seção com as locacoes de veiculos adquiridas -->
        <div *ngIf="locacoes.length > 0" class="locacoes">

			<!-- Titulo da seção -->
			<div class="payment-header-wrapper">
				<span class="payment-header" jhiTranslate="choose-vehicle.title">Aluguel de Veículos</span>
			</div>

			<!-- Tabela -->
			<table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" jhiTranslate="global.payment.locacao.locadora">Locadora</th>
                    <th scope="col" jhiTranslate="global.payment.locacao.veiculo">Veiculo</th>
                    <th scope="col" jhiTranslate="global.payment.locacao.inicio">Inicio</th>
                    <th scope="col" jhiTranslate="global.payment.locacao.fim">Fim</th>
                    <th scope="col" jhiTranslate="global.payment.locacao.valor">Preço</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let locacao of locacoes">
                    <td>{{ locacao.veiculo.locadora.nome }}</td>
                    <td>{{ locacao.veiculo.fabricante }} {{ locacao.veiculo.modelo }}</td>
                    <td>{{ locacao.dataInicio }}</td>
                    <td>{{ locacao.dataFim }}</td>
                    <td>R$ {{ locacao.valor | number:'1.2' }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="basketService.isEmpty()" class="text-center">
            <span id="empty-cart" jhiTranslate="payment.empty">Seu carrinho esta vazio.</span>
        </div>

        <div *ngIf="!basketService.isEmpty()" class="text-right">
            Total: R$ {{ total | number:'1.2'}}
        </div>

        <!-- Botão de compra -->
        <div class="our-button" *ngIf="!basketService.isEmpty()">
            <input type="submit" class="btn btn-outline-warning btn-block"
                   value="{{ 'basket.purchase' | translate }}"
                   (click)="confirmPayment()"/>
        </div>

    </div>

    <div class="col-md-1">

    </div>
</div>
