<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contrato-heading" jhiTranslate="viajatoApp.contrato.home.createOrEditLabel">Create or edit a Contrato</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contrato.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contrato.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.contrato.numPessoas" for="field_numPessoas">Num Pessoas</label>
                    <input type="number" class="form-control" name="numPessoas" id="field_numPessoas"
                        [(ngModel)]="contrato.numPessoas" required/>
                    <div [hidden]="!(editForm.controls.numPessoas?.dirty && editForm.controls.numPessoas?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numPessoas?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.numPessoas?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.contrato.dataInicio" for="field_dataInicio">Data Inicio</label>
                    <input type="text" class="form-control" name="dataInicio" id="field_dataInicio"
                        [(ngModel)]="contrato.dataInicio" required/>
                    <div [hidden]="!(editForm.controls.dataInicio?.dirty && editForm.controls.dataInicio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataInicio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.contrato.dataFim" for="field_dataFim">Data Fim</label>
                    <input type="text" class="form-control" name="dataFim" id="field_dataFim"
                        [(ngModel)]="contrato.dataFim" required/>
                    <div [hidden]="!(editForm.controls.dataFim?.dirty && editForm.controls.dataFim?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataFim?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.contrato.compra" for="field_compra">Compra</label>
                    <select class="form-control" id="field_compra" name="compra" [(ngModel)]="contrato.compra" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="compraOption.id === contrato.compra?.id ? contrato.compra : compraOption" *ngFor="let compraOption of compras; trackBy: trackCompraById">{{compraOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.contrato.seguro" for="field_seguro">Seguro</label>
                    <select class="form-control" id="field_seguro" name="seguro" [(ngModel)]="contrato.seguro" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="seguroOption.id === contrato.seguro?.id ? contrato.seguro : seguroOption" *ngFor="let seguroOption of seguros; trackBy: trackSeguroById">{{seguroOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
