<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contrato">
            <h2><span jhiTranslate="viajatoApp.contrato.detail.title">Contrato</span> {{contrato.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="viajatoApp.contrato.numPessoas">Num Pessoas</span></dt>
                <dd>
                    <span>{{contrato.numPessoas}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.contrato.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{contrato.dataInicio}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.contrato.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{contrato.dataFim}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.contrato.valor">Valor</span></dt>
                <dd>
                    <span>{{contrato.valor}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.contrato.compra">Compra</span></dt>
                <dd>
                    <div *ngIf="contrato.compra">
                        <a [routerLink]="['/compra', contrato.compra?.id, 'view']">{{contrato.compra?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="viajatoApp.contrato.seguro">Seguro</span></dt>
                <dd>
                    <div *ngIf="contrato.seguro">
                        <a [routerLink]="['/seguro', contrato.seguro?.id, 'view']">{{contrato.seguro?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contrato', contrato.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
