<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-seguro-heading" jhiTranslate="viajatoApp.seguro.home.createOrEditLabel">Create or edit a Seguro</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!seguro.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="seguro.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.seguro.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="seguro.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.seguro.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="seguro.descricao" required/>
                    <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.seguro.valorPorPessoa" for="field_valorPorPessoa">Valor Por Pessoa</label>
                    <input type="number" class="form-control" name="valorPorPessoa" id="field_valorPorPessoa"
                        [(ngModel)]="seguro.valorPorPessoa" required/>
                    <div [hidden]="!(editForm.controls.valorPorPessoa?.dirty && editForm.controls.valorPorPessoa?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.valorPorPessoa?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.valorPorPessoa?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viajatoApp.seguro.seguradora" for="field_seguradora">Seguradora</label>
                    <select class="form-control" id="field_seguradora" name="seguradora" [(ngModel)]="seguro.seguradora" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="seguradoraOption.id === seguro.seguradora?.id ? seguro.seguradora : seguradoraOption" *ngFor="let seguradoraOption of seguradoras; trackBy: trackSeguradoraById">{{seguradoraOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
