<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="locadora">
            <h2><span jhiTranslate="viajatoApp.locadora.detail.title">Locadora</span> {{locadora.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="viajatoApp.locadora.nome">Nome</span></dt>
                <dd>
                    <span>{{locadora.nome}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.locadora.telefone">Telefone</span></dt>
                <dd>
                    <span>{{locadora.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.locadora.cidade">Cidade</span></dt>
                <dd>
                    <span>{{locadora.cidade}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.locadora.estado">Estado</span></dt>
                <dd>
                    <span>{{locadora.estado}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.locadora.endereco">Endereco</span></dt>
                <dd>
                    <span>{{locadora.endereco}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.locadora.imagem">Imagem</span></dt>
                <dd>
                    <span>{{locadora.imagem}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/locadora', locadora.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
