/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/viajato.png') no-repeat center top;
    background-size: contain;
}

.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}


.datepicker-container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.datepicker-container > *  {
	display:inline;
	margin-left: 5px;
	margin-right: 5px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/viajato.png') no-repeat center top;
        background-size: contain;
    }
}
