/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 300px;
    height: 250px;
    background: url('../../content/images/viajato.png') no-repeat center top;
    background-size: contain;
    -webkit-animation: puff-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: puff-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1s;
}

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.form-search-passengers {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    padding: 20px;
    margin-bottom: 20em;
}

.form-search-passengers .btn {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.form-search-passengers .btn:hover {
    color: white !important;
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus,
select:focus {
    border-color: rgb(255, 244, 25) !important;
    box-shadow: 0 1px 1px rgba(250, 252, 200, 0.8) inset, 0 0 8px rgba(250, 252, 200, 0.8) !important;
    outline: 0 none;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/viajato.png') no-repeat center top;
        background-size: contain;
    }
}

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.offset-md-2 {
    -webkit-animation: slide-right 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: slide-right 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}
