/* ==============================================================
Our custom CSS goes here
===============================================================*/

.col-md-10 {
    text-align: center;
    margin-top: 13px;
}

.our-button {
    margin: 0 auto;
    width: 230px;
    margin-top: 10px;
}

.ticket-box {
    margin-top: 10px;
    margin-bottom: 30px;
    zoom: 1.3;
    -moz-transform: scale(1.3);
}

.ticket {
    position: relative;
    display: inline-block;
    width: 800px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.ticket:hover {
    -webkit-filter: drop-shadow(10px 10px 6px rgba(249, 224, 153, 0.5));
    filter: drop-shadow(10px 10px 6px rgba(249, 224, 153, 0.5));
}

.plane-ticket {
    background-image: url('../../content/images/boarding-pass.png');
}

.hotel-ticket {
    background-image: url('../../content/images/hotel-ticket.png');
}

.ticket span {
    position: relative;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: 17pt;
}

.ticket absolute-pos {
    position: absolute;
}

/* Plane ticket */

.plane-ticket #plane-ticket-title {
    left: -235px;
    top: 14px;
}

.plane-ticket #plane-ticket-flight {
    left: -24px;
    top: 0px;
}

.plane-ticket #plane-ticket-departure {
    left: -75px;
    top: -7px;
}

.plane-ticket #plane-ticket-arrival {
    left: -75px;
    top: -9px;
}

.plane-ticket #plane-ticket-from {
    position: absolute;
    left: 560px;
    top: 34px;
}

.plane-ticket #plane-ticket-to {
    position: absolute;
    left: 560px;
    top: 57px;
}

.plane-ticket #plane-ticket-airline {
    display: inline-block;
    position: relative;
    top: 31px;
    left: -268px;
    width: 80px;
    height: 47px;
    background-size: contain;
}

.Latam {
	background: url('../../content/images/latam-logo.png') no-repeat center top;
}

.Gol {
	background: url('../../content/images/gol-logo.png') no-repeat center top;
}

.Azul {
	background: url('../../content/images/azul-logo.png') no-repeat center top;
}

/* Hotel ticket */

.hotel-ticket #hotel-ticket-title {
    left: -210px;
    top: 14px;
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    background: #e4e5e6;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    background: #767676;
    color: white;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 1px;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}
.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
