<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aeroporto">
            <h2><span jhiTranslate="viajatoApp.aeroporto.detail.title">Aeroporto</span> {{aeroporto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="viajatoApp.aeroporto.nome">Nome</span></dt>
                <dd>
                    <span>{{aeroporto.nome}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.aeroporto.telefone">Telefone</span></dt>
                <dd>
                    <span>{{aeroporto.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.aeroporto.cidade">Cidade</span></dt>
                <dd>
                    <span>{{aeroporto.cidade}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.aeroporto.estado">Estado</span></dt>
                <dd>
                    <span>{{aeroporto.estado}}</span>
                </dd>
                <dt><span jhiTranslate="viajatoApp.aeroporto.endereco">Endereco</span></dt>
                <dd>
                    <span>{{aeroporto.endereco}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aeroporto', aeroporto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
