<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">

		<!-- Título da página e descrição -->
		<h1 class="text-capitalize text-center" jhiTranslate="choose-plane.title">Title</h1>
		<h5 class="text-center" jhiTranslate="choose-plane.subtitle">Subtitle</h5>
		<hr/>

		<!-- Box contendo os tickets -->
		<div class="ticket-box">

			<!-- Passagem aérea -->
            <div *ngIf="withoutVoos">
                <p>Não há passagens disponíveis.</p>
            </div>

            <div *ngIf="voos?.length > 0">
                <div class="tp-wrapper" *ngFor="let voo of voos; let i = index" [attr.data-index]="i">
                    <div class="tp-box" [@flipState]="voo.flip">

						<!-- Plane ticket front -->
                        <a class="ticket plane-ticket tp-ticket-side tp-ticket-front" (click)="toggleFlip(voo)">
                            <div>
                                <div class="absolute-pos">
                                    <span id="plane-ticket-title" jhiTranslate="global.ticket.plane.title">Plane Ticket</span>
                                </div>
                                <div class="absolute-pos">
                                    <span id="plane-ticket-flight"> <span jhiTranslate="global.ticket.plane.flight">Flight</span>
                                        nº {{ voo.numero }} </span>
                                </div>
                                <div class="absolute-pos">
                                    <span id="plane-ticket-departure"> <span jhiTranslate="global.ticket.plane.departure">Departure</span>
                                        {{ voo.partida }} </span>
                                </div>
                                <div class="absolute-pos">
                                    <span id="plane-ticket-arrival"> <span jhiTranslate="global.ticket.plane.arrival">Arrival</span>
                                        {{ voo.chegada }}</span>
                                </div>
                                <div class="absolute-pos">
                                    <span id="plane-ticket-from" jhiTranslate="global.ticket.plane.from">From</span>
                                </div>
                                <div class="absolute-pos">
                                    <span id="plane-ticket-to" jhiTranslate="global.ticket.plane.to">To </span>
                                </div>
                                <div class="absolute-pos">
                                    <div id="plane-ticket-airline1" [className]="voo.linhaAerea.nome">
                                    </div>
                                </div>
								<div class="absolute-pos">
                                    <div id="plane-ticket-airline2" [className]="voo.linhaAerea.nome">
                                    </div>
                                </div>
								<div class="absolute-pos">
                                    <span id="plane-ticket-price">
                                        R$ {{voo.valor | number:'1.2'}}</span>
                                </div>
								<div class="absolute-pos">
                                    <span id="plane-ticket-to-airport">
                                        {{voo.destino.nome}} ({{voo.destino.estado}})</span>
                                </div>
								<div class="absolute-pos">
                                    <span id="plane-ticket-from-airport">
                                        {{voo.origem.nome}} ({{voo.origem.estado}})</span>
                                </div>

                            </div>
                        </a>


						<!-- Plane ticket back -->
                        <a class="ticket plane-ticket tp-ticket-side tp-ticket-back">
                            <div *ngIf="voo.flip == 'active' ">
                                <!-- Text-->
                                <span id="plane-ticket-seats-text" jhiTranslate="choose-plane.choose-seats">Choose Seats</span>
                                <!-- Plane seats-->
                                <div class="absolute-pos" id="seat-wrapper">
                                    <li class="seat-row" *ngFor="let seatRow of seats[i]">
                                        <ol class="seats" type="A">
                                            <li class="seat" *ngFor="let seat of seatRow">
                                                <input type="checkbox" id="{{ seat.id }}" (click)="selectSeat(seat)" [checked]="seat.checked == true" [disabled]="seatsSelected >= passengers && seat.checked == false"/>
                                                <label for="{{ seat.id }}">{{ seat.name }}</label>
                                            </li>
                                        </ol>
                                    </li>
                                </div>
                                <!-- Botão de voltar -->
                                <div class="our-button">
                                    <input type="submit" (click)="toggleFlip(voo)" class="btn btn-outline-warning btn-block plane-ticket-btn" value="{{ 'choose-plane.buttons.back' | translate }}" />
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

			<!-- Confirmation window -->
			<div *ngIf="seatsSelected > 0">
				<div class="confirmation-window">
				</div>
			</div>

			<!-- Botão de voltar -->
			<div class="our-button" *ngIf="seatsSelected > 0">
				<input type="submit" class="btn btn-outline-warning btn-block" value="{{ 'choose-plane.buttons.back' | translate }}" />
			</div>

		</div>

	</div>
	<div class="col-md-1"></div>
</div>
